@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  font-family: Roboto, sans-serif;
}

* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #333;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 20px;
    border: 1px solid #333;
  }
}

body {
  background-color: #272b33;
  color: #fff;
}